body {
	background-color: #8D97A2;
}

.header {
	background-color: #19BF6C;
	height: 235px;
	border-bottom: 5px solid #149956;
}

.header .title {
	color:white;
	vertical-align: bottom;
	line-height: 400px;
	font-size: 175%;
	padding: 10px;
}

.project {
	width:40%;
	margin: auto;
}

.nav-bar {
	background-color: #24476B;
	text-align: right;
	position: relative;
	bottom: 16px;
	height: 40px;
	border-bottom: 5px solid #1A334D;
}

.nav-bar .list {
	display: inline-block;
	color: white;
	vertical-align: middle;
	line-height: 40px;
	margin-left: 10px;
	padding: 0px 10px;
	font-size: 90%;
}

.sidebar {
	background-color: #EDEDED;
	position: relative;
	text-decoration: none;
	float: right;
	border-bottom: 3px solid black;
	padding:8px;
	left: 180px;
    top: -15px;
}

.bullet {
	list-style-type: none;
}

.link{
	color: red;
}

.header-small {
	font-weight: bold;
	font-size: 90%;
}

.sidebar .gray.small{
	color: gray;
	font-size: 85%;
	margin-left: -25px;
	padding-right: 15px;
}

.main-content {
	background-color: #EDEDED;
	padding: 5px;
	position: relative;
	bottom: 16px;
}

.header-main {
	font-weight: bold;
	font-size: 115%;
}

.main-display {
	display: inline-block;
	position: relative;
    bottom: 225px;
    padding: 20px;
}

.main-display-sub{
	display: inline-block;
	position: relative;
    bottom: 275px;
    padding: 20px;
}

.second-header {
	font-weight: bold;
	font-size: 105%;
	padding-left: 15px;
}

.table td, .table th {
	border:1px solid gray;
	padding: 5px;
	margin: 0px;
}

.table th {
	background-color: #CCCCCC;
}

.table {
	border-spacing: 0px;
}

.button {
	background-color: #0099CC;
	color: white;
	padding: 5px 25px;
}

.align-left {
	text-align: left;
}

.codebox {
	background-color: #CCCCCC;
	position: relative;
	bottom:295px;
	margin:20px;
	padding: 0px;
}

.pre {
	white-space: pre;
}

.main-display2 {
	display: inline-block;
	position: relative;
    bottom: 345px;
    padding: 20px;
    margin: 40px;
}

.main-display3 {
	display: inline-block;
	position: relative;
    bottom: 405px;
    padding: 20px;
}

.img {
	display: inline-block;
}

.subtext {
	color: gray;
	font-size: 90%;
}

.line-through {
	background-color: #EDEDED;
	position: relative;
	bottom: 32px;
    padding-left: 12px;
    width: 78px;
    left: 20px;
    font-size: 80%;
}

.line {
	position: relative;
	bottom: 14px;
}

.position-right {
	text-align: right;
}

.name-box {
	width: 75%;
	height: 20px;
}

.spacing {
	padding: 5px 0px;
}

.comment-box {
	 padding: 57px 36%;
}

.div-comment-box {
	text-align: center;
}

.submit-button {
	text-align: center;
    background-color: #E60000;
    color: white;
    padding: 10px;
    font-size: 85%;
}

.small-image {
	float: left;
	margin-right: 15px;
}

.comment-section {
	margin-top: 45px;
}

.mid-comment {
	border-left: 1px solid #CCCCCC;
    margin-left: 50px;
    padding-left: 21px;
}